.explore-main {
  padding-bottom: 0;
  .top {
    width: 100%;
    justify-content: space-between;
    height: 40vh;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    position: relative;
    h1 {
      font-size: 5rem;
      font-weight: 900;
      background-image: linear-gradient(to right, #111, #555);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: capitalize;
    }
    button {
      width: 200px;
      padding-left: 50px;
      padding-right: 50px;
      height: 50px;
      border: none;
      border: 1px solid;
      color: #111;
      background: transparent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 400;
      cursor: pointer;
    }
    .length {
      position: absolute;
      width: 250px;
      height: 50px;
      background: white;
      left: 100px;
      top: calc(100% - 25px);
      h2 {
        font-weight: 400;
        text-transform: capitalize;
        font-size: 1rem;
      }
    }
  }
  .featured-card {
    flex-wrap: wrap;
    gap: 10px !important;
    .card-item {
      padding: 10px !important;
      gap: 20px !important;
      margin-top: 50px !important;
      overflow: hidden;
      padding-bottom: 30px !important;
      .main-img {
        width: 320px;
        height: 320px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            transition: .3s;
        }
      }
      .profile {
        width:300px;
        justify-content: space-between;
      }
      .line{
        width: 300px;
      }
      .price {
        p{
            color: rgba($color: #000000, $alpha: 0.7);
        }
        h2 {
          line-height: 25px;
          font-weight: 600;
          color: rgba($color: #000000, $alpha: 0.8);
          font-size: .9rem;
        }
      }
    }
    .card-item:hover{
        .main-img {
            img{
                scale: 1.1;
            }
        }
    }
  }
}
