.footer-wrap {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: space-between;
  border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
  .left {
    h2{
      font-weight: 300;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: lowercase;
    }
  }
  .right {
    gap: 10px;
    .link {
      font-size: 2rem;
      color: rgba($color: #fff, $alpha: 1);
    }
  }
  .right:hover {
    .link {
      color: rgba($color: #000000, $alpha: 0.5);
    }
    .link:hover {
      color: rgba($color: #000000, $alpha: 1);
    }
  }
  .newsletter {
    width: 400px;
    height: 50px;
    border: 1px  solid rgba($color: #fff, $alpha: 0.3);
    overflow: hidden;
    input{
      width: 250px;
      height: 100%;
      border: none;
      padding-left: 20px;
      outline: none;
      font-size: 1rem;
      background: transparent;
      color: white;
    }
    button {
      width: 125px;
      height: 45px;
      background: rgba($color: #fff, $alpha: 0.1);
      color: white;
      border: none;
      text-transform: uppercase;
      font-size: .8rem;
    }
  }
}