.header-wrap {
    justify-content: space-between ;
    height: 12vh;
    top: 0;
    width: calc(100% - 200px);
    position: fixed;
    background: #111;
    top: 0;
    z-index: 1000;
    border-radius: 0;
    transition: transform 0.3s ease-in-out;
    .left-content  {
        gap: 50px;
        .logo {
            img{
                width: 60px;
                cursor: pointer;
            }
        }
        .search-bar {
            overflow: hidden;
            width: 300px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid rgba($color: #fff, $alpha: 0.3);
            overflow: hidden;
            background: transparent;
            color: white;
            input{
                width: 260px;
                height: 40px;
                border: none;
                outline: none;
                background: transparent;
                color: white;
            }
            button{
                width: 40px;
                height: 40px;
                background: transparent;
                border: none;
                color: white;
            }
        }
    }
    .right-content {
        ul{
            gap: 30px;
            li{
                text-transform: uppercase;
                font-size: .9rem;
                list-style: none;
                font-weight: 500;
                cursor: pointer;
            }
            .menu {
                gap: 3px;
                position: relative;
                cursor: pointer;
                div{
                    width: 25px;
                    height: 2px;
                    background: #fff;
                }
                .main-menu {
                    width: 140px !important;
                    height: auto;
                    border: 1px solid rgba($color: #fff, $alpha: 0.1);
                    background: transparent;
                    position: absolute;
                    align-items: start;
                    top: 30px;
                    border-radius: 0;
                    right: 0;
                    cursor: auto;
                    padding: 30px;
                    background: #111;
                    gap: 20px;
                    border: 1px solid;
                    ul{
                        align-items: start;
                        gap: 10px;
                        li{
                            font-weight: 500;
                            font-size: .8rem;
                            letter-spacing: 1px;
                        }
                    }
                    .line {
                        width: 140px;
                        height: 1px;
                        background: rgba($color: #fff, $alpha: 0.3);
                    }
                    .links{
                        display: flex;
                        background: transparent;
                        width: 140px;
                        height: 20px;
                        justify-content: space-between;
                        .link{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.3rem;
                            color: #fff;
                            transition: .1s;
                        }
                    }
                    .links:hover {
                        .link {
                            color: rgba($color: #fff, $alpha: 0.3);
                        }
                        .link:hover{
                            color: white;
                        }
                    }
                }
            }
            button{
                width: 120px;
                height: 40px;
                background: rgba($color: #fff, $alpha: 0.1);
                color: white;
                border: none;
                cursor: pointer;
                border-radius: 5px;
            }
            button:hover{
                border: 1px solid rgba($color: #fff, $alpha: 0.3);
                color: white;
                background: transparent;
            }
        }
    }
}

.header--hidden {
    transform: translateY(-100%);
  }
  
  .header--visible {
    transform: translateY(0);
  }