.login-portal {
  width: 100%;
  height: 100vh !important;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .login-container {
    padding: 50px;
    background: white;
    .right {
      width: 330px;
      height: 400px;
      gap: 20px;
      h1 {
        font-weight: 900;
        font-size: 2rem;
        text-transform: uppercase;
      }
      p {
        font-size: .9rem;
      }
      .input-wrap {
        width: 300px;
        height: 40px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);
        overflow: hidden;
        input {
          width: 260px;
          height: 100%;
          padding-top: 2px;
          border: none;
          outline: none;
          padding-left: 10px;
        }
      }
      button {
        width: 150px;
        height: 40px;
        margin-left: 150px;
        border: none;
        background: #111;
        color: white;
        padding-top: 5px;
        cursor: pointer;
      }
      button:hover {
        background: transparent;
        border: 1px solid;
        color: #111;
      }
      .link {
        color: rgba($color: #000000, $alpha: 0.7);
        text-decoration: none;
        width: 200px;
        text-align: right;
        margin-left: 100px;
      }
      .text {
        width: 300px;
        text-align: right;
        font-size: 1rem !important;
        text-transform: capitalize;
        color: rgba($color: #000000, $alpha: 0.7);
      }
    }
  }
}
