.login-portal {
  width: 100%;
  height: 100vh !important;
  background: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  .login-container {
    .toggler {
      position: absolute;
      top: -70px;
      right: -0px;
      z-index: 100;
      padding: 10px;
      border-radius: 5px;
      background: white;
      gap: 10px;
      button {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 1.1rem;
      }
    }
    background: white;
    position: relative;
    .right {
      width: 450px;
      height: 450px;
      gap: 20px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      h1 {
        font-weight: 300;
        text-transform: capitalize;
      }
      .step-sect {
        width: 450px;
        padding: 15px 30px;
        gap: 20px;
        .step {
          width: 40px;
          height: 40px;
          border: 1px solid rgba($color: #000000, $alpha: 0.3);
          border-radius: 50%;
          font-size: 1rem;
          font-weight: 900;
        }
        .back {
          transform: rotate(180deg);
        }
        .icon {
          cursor: pointer;
          transition: 0.3s;
        }
        .icon:hover {
          font-size: 2rem;
        }
      }
      .input-wrap {
        align-items: start;
        gap: 5px;
        position: relative;
        input {
          width: 250px;
          height: 40px;
          border: 1px solid rgba($color: #000000, $alpha: 0.3);
          outline: none;
          font-size: 1rem;
          padding-left: 10px;
        }
      }
      .input-wrap::after {
        content: "";
        width: 5px;
        height: 42px;
        background: #111;
        position: absolute;
        bottom: 0;
        max-height: 0;
        transition: 0.3s;
        left: -4px;
      }
      .input-wrap:focus-within::after {
        max-height: 42px;
      }
      .avatar {
        width: 250px;
        height: 68px;
        border: 1px dashed;
        position: relative;
        cursor: pointer;
        input {
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
      }
      .avatar::after {
        content: "Upload File";
        position: absolute;
      }
      button {
        width: 120px;
        height: 40px;
        border: none;
        background: #111;
        color: white;
        letter-spacing: 1px;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 142px;
        cursor: pointer;
      }
      button:hover {
        border: 1px solid;
        color: #111;
        background: transparent;
      }
      .back-opt {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        background: #111;
        color: white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .left {
      width: 450px;
      height: 450px;
      gap: 20px;
      position: relative;
      overflow: hidden;
      background-size: cover !important;
      .content {
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.5);
        color: white;
        gap: 10px;
        h1{
          font-weight: 900;
          font-size: 3rem;
        }
        p{
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
    
  }
}
